

.menu{
  width: 100%;
  z-index: 200;
  padding: 2%;
}

.logos{
  width: 50%;
}

.enlaces_menu{
  width: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1.18rem;
}

.enlaces_menu ul{
  justify-content: flex-end;
  margin-top: 4.5%;
}

.enlaces_menu ul li{
  display: block;
  margin: 0 2%;
  padding: 0;
  
}

.enlaces ul li ul li{
  border-left: orchid 1px solid;
}

.enlaces_menu ul li a{
  color: #f2f2f2;
  font-size: 1.4rem;
  text-decoration: none;
}

.enlaces_menu ul ul {
  position: absolute;
  top: 20%;
  opacity: 0;
  transition: all 0.6s;
}

.enlaces_menu ul ul li{
  border-left: cyan 2px solid;
  padding-left: 12px;
}

.enlaces_menu ul li:hover ul {
  display: block;
  opacity: 1;
  transform: translateX(-25%);
}

.logo1{
  margin: 0 2%;
}

.linea{
  display: inline-block;
  background-color: aqua;
  width: 3px;
  height: 50%;
  margin: 8px 0 0 0;
  position: absolute;
  opacity: 0.5;
}

.logo{
  width: 10%;
}

.enlace{
  margin: 10px;
  text-decoration: none;
}

.enlace a{
  color: #f2f2f2;
}

.enlace a:hover{
  text-decoration: none;
}