.footer{
  margin-top: 30%;
  padding: 10% 10% 5% 10%;
  color: #f2f2f2;
  background-color: #4b65a2;
}

.fac{
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: lighter;
}

.fac h2{
  font-size: 3.5rem;
}

.mas{
  margin-top: 8%;
}

.copy{
  margin-top: 5%;
}

.iconos{
  margin-left:70%;
  margin-top: 45%;
  flex-direction: row;
}

.icono{
  
  margin: 2%;
}
